@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&family=Teko:wght@300&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { font-size: 16px }
:root {
    --green: #59a942;
    /* logo yesili: #65a602 */
    /* logo koyu yesil: #133f02 */
    --black: #333333;
    --fontA: 'Nunito Sans', sans-serif;
    --fontB: 'Teko', sans-serif;
}

h1 {
    font-size: 4.5vw;
    font-family: var(--fontA);
    font-weight: 800;
    line-height: .9;
    color: #fff;
    padding-bottom: 1.5rem;
}
h2 {
    font-size: 1.5vw;
    font-family: var(--fontB);
    letter-spacing: 0.2ch;
    text-transform: uppercase;
    color: var(--black);
}
.container2 {
    background-image: url(https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    z-index: -1;
}
.container2:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--green);
    z-index: 0;
    opacity: .8;
}
.inner {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: stretch;
    height: 100vh;
    margin: 0 auto;
    width: 90vw;
    max-width: 1800px;
}
.left-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.right-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}
.right-col img {
    width: 80%;
    max-width: 600px;
}

.shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 10000;
}
.shape-divider svg {
    position: relative;
    display: block;
    width: 100%;
    height: 20vh;
}
.shape-divider .shape-fill {
    fill: #FFFFFF;
}

#linkBrands:hover {
    box-shadow: #133f02;
    transition: 0.7s;
    transform: scale(1.25);
}